<div class="product-container">
    <!-- Imagem do Produto -->
    <img [src]="product.imageUrl" alt="{{ product.name }}" class="product-image">

    <!-- Informações do Produto -->
    <div class="product-info">
        <div class="product-name">{{ product.name }}</div>
        <div class="product-price">R$ {{ product.price }}</div>

        <!-- Descrição do Produto -->
        <div class="product-description">
            <p>{{ product.description }}</p>
        </div>

        <!-- Quantidade -->
        <div class="quantity-container">
            <label for="quantity">Quantidade:</label>
            <input type="number" id="quantity" name="quantity" class="quantity-input" min="1" [(ngModel)]="quantity" value="1">
        </div>

        <!-- CEP -->
        <div class="cep-container">
            <label for="cep">CEP:</label>
            <input type="text" id="cep" name="cep" class="cep-input" placeholder="00000-000" [(ngModel)]="cep">
        </div>

        <!-- Botão de Compra -->
        <div class="buy-button-container">
            <button class="buy-button" (click)="buyProduct()">Comprar</button>
        </div>
    </div>
</div>
